<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Pricing Engine</title>
</head>
<body>

<h1>AI Dynamic Pricing</h1>

<form action="/predict" method="post">

<input name="amazon_price" placeholder="Amazon Price"><br><br>
<input name="meesho_price" placeholder="Meesho Price"><br><br>
<input name="discount_pct" placeholder="Discount %"><br><br>
<input name="rating" placeholder="Rating"><br><br>
<input name="num_reviews" placeholder="Reviews"><br><br>
<input name="page_views" placeholder="Page Views"><br><br>
<input name="conversion_rate" placeholder="Conversion Rate"><br><br>
<input name="demand_intensity" placeholder="Demand Intensity"><br><br>

<select name="season">
<option>Summer</option>
<option>Winter</option>
<option>Autumn</option>
<option>Spring</option>
</select>

<br><br>
<button type="submit">Predict</button>

</form>

<h2>{{ result }}</h2>

</body>
</html>