<!DOCTYPE html>
<html>
<head>
    <title>AI Dynamic Pricing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI Pricing Engine</h1>

    <form action="/predict" method="post">

        <input name="amazon_price" placeholder="Amazon Price" required>
        <input name="meesho_price" placeholder="Meesho Price" required>
        <input name="discount_pct" placeholder="Discount %" required>
        <input name="rating" placeholder="Rating (1-5)" required>
        <input name="num_reviews" placeholder="Number of Reviews" required>
        <input name="page_views" placeholder="Page Views" required>
        <input name="conversion_rate" placeholder="Conversion Rate (0-1)" required>
        <input name="demand_intensity" placeholder="Demand Intensity (1-10)" required>

        <select name="season">
            <option>Summer</option>
            <option>Winter</option>
            <option>Autumn</option>
            <option>Spring</option>
        </select>

        <button type="submit">🚀 Predict Price</button>
        <button type="button" onclick="resetForm()">🔄 Reset</button>

    </form>


    {% if result %}
        <div class="result">{{ result }}</div>
    {% endif %}

</div>

</body>
<script>
function resetForm() {
    document.querySelector("form").reset();
    document.querySelector(".result").innerHTML = "";
}
</script>
</html>